<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">HospitalWeb</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Departman">Departman</a></li>
            <li><a href="/Doctor">Doctor</a></li>
            <li><a href="/Prescription">Prescriptions</a></li>
            <li><a href="/Sick">Sick</a></li>
            <li><a href="/Security/Logout">Logout</a></li>
        </ul>
    </div>
</nav>
